<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>自定义纵向时间轴.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0A6A8051BE5AD7300400F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0A6A81E1BE5AD7400400F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0A6A8291BE5AD7400400F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
